<ul id="content-steps" class="row no-margin-bot">
    <li class="col-xs-3 active">
        <a class="truncate" href="#?" data-target="step-1">
            <span class="badge">1</span>
            <br class="hidden-md hidden-lg">
            <span>Tu línea</span>
        </a>

    </li>
    <li class="col-xs-3">
        <a class="truncate" href="#?" data-target="step-2">
            <span class="badge">2</span>
            <br class="hidden-md hidden-lg">
            <span>Escoger plan</span>
        </a>
    </li>
    <!--
    <li class="col-xs-2">
        <a class="truncate" href="#?" data-target="step-3">
            <span class="badge">3</span>
            <br class="hidden-md hidden-lg">
            <span>Chip</span>
        </a>
    </li>
    -->
    <li class="col-xs-3">
        <a class="truncate" href="#?" data-target="step-4">
            <span class="badge">3</span>
            <br class="hidden-md hidden-lg">
            <span>Tus datos</span>
        </a>
    </li>
    <li class="col-xs-3">
        <a class="truncate" href="#?" data-target="step-5">
            <span class="badge">4</span>
            <br class="hidden-md hidden-lg">
            <span>Confirmación</span>
        </a>
    </li>
</ul>